<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <!-- <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="style.css"> -->
    <title>GitPub</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }

        img {
            height: 70px;
        }
      </style>
  </head>
  <body>
    <nav>
        
    </nav>
    <h1>GitPub index page</h1>
    
    <ul>
      <% for(let i = 0; i < allFood.length; i++) { %>
        <li>
          <%= allFood[i].name %>
        <br>
        <a href="/foods/<%=i%>">
            <img src="<%= allFood[i].image%>">
            </a>
        
        <br>
        $<%= allFood[i].price %>

        <br>
        <a href="/foods/<%=i%>">View Food</a>
      </li>
      <% } %>
    </ul>
    <h4>
        <a href="/drinks">Click here to view Drinks</a>
    </h4>
  </body>
</html>